<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <design>
            <head>
                <default_title>Magento B2B Edition</default_title>
                <default_keywords>Magento, Varien, E-commerce</default_keywords>
            </head>
        </design>
        <system>
            <adminnotification>
                <feed_url>notifications.magentocommerce.com/magento2/b2b/notifications.rss</feed_url>
            </adminnotification>
        </system>
    </default>
</config>
