<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuickOrder\Model\FulltextSearch">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">quick_order_suggestions_search_container</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\ResourceModel\EngineInterface">
        <plugin name="addNotVisibleProductsToSearchIndex" type="Magento\QuickOrder\Plugin\CatalogSearch\Model\ResourceModel\EngineInterfacePlugin" />
    </type>
</config>
