<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_btob">
        <observer name="delete_quote_items" instance="Magento\NegotiableQuoteSharedCatalog\Observer\DeleteNegotiableQuoteItems"/>
    </event>
    <event name="customer_save_after_data_object">
        <observer name="delete_quote_items" instance="Magento\NegotiableQuoteSharedCatalog\Observer\CustomerDeleteUnavailableNegotiableQuoteItems"/>
    </event>
</config>
