<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\RequisitionList\Model\Checker\ProductChangesAvailability">
        <arguments>
            <argument name="productQtyChangeAvailabilityCheckers" xsi:type="array">
                <item name="grouped" xsi:type="object">Magento\GroupedRequisitionList\Model\Checker\ProductQtyChangeAvailability</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\RequisitionList\Model\RequisitionListProduct">
        <arguments>
            <argument name="productTypesToConfigure" xsi:type="array">
                <item name="grouped" xsi:type="const">Magento\GroupedProduct\Model\Product\Type\Grouped::TYPE_CODE</item>
            </argument>
        </arguments>
    </type>
</config>
