<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <btob>
            <default_b2b_payment_methods>
                <applicable_payment_methods>0</applicable_payment_methods>
            </default_b2b_payment_methods>
        </btob>
    </default>
</config>
