<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="companycredit" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment on Account</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-zero-or-greater validate-number</frontend_class>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="98" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                    <frontend_class>validate-zero-or-greater validate-number</frontend_class>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                    <frontend_class>validate-zero-or-greater validate-number</frontend_class>
                </field>
                <field id="model"></field>
            </group>
        </section>
        <section id="company">
            <group id="email">
                <field id="heading_company_credit" translate="label" showInDefault="1" showInWebsite="1" sortOrder="220">
                    <label>Company Credit</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="company_credit_change" translate="label" type="select" sortOrder="230"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Company Credit Change Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="company_credit_change_copy" translate="label comment" type="text" sortOrder="240"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Company Credit Change Email Copy To</label>
                    <comment>Comma-separated</comment>
                </field>
                <field id="company_credit_copy_method" translate="label" type="select" sortOrder="250"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Email Copy Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Method</source_model>
                </field>
                <field id="credit_allocated_email_template" translate="label comment" type="select" sortOrder="260"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allocated Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>This email is sent to the Company Admin.</comment>
                </field>
                <field id="credit_updated_email_template" translate="label comment" type="select" sortOrder="270"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Updated Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>This email is sent to the Company Admin.</comment>
                </field>
                <field id="credit_reimbursed_email_template" translate="label comment" type="select" sortOrder="280"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Reimbursed Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>This email is sent to the Company Admin.</comment>
                </field>
                <field id="credit_refunded_email_template" translate="label comment" type="select" sortOrder="290"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Refunded Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>This email is sent to the Company Admin.</comment>
                </field>
                <field id="credit_reverted_email_template" translate="label comment" type="select" sortOrder="300"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Reverted Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>This email is sent to the Company Admin.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
