<!--
-->
<!--@subject Your company account is active @-->
<!--@vars {
"var customer.name":"Customer Name",
"var customer.companyName": "Company Name"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting company-greeting"><strong>{{trans "Dear %name," name=$customer.name}}</strong></p>
<p>{{trans
    "Your company registration request (for the <strong>%company_name</strong>)
    has been approved and you have been set as the Company Admin.
    You can now create and manage your company structure.
    Your company members are able to request quotes, create requisition lists,
    and use other B2B features."
    company_name=$escaper.escapeHtml($customer.companyName)
    |raw}}</p>

{{template config_path="design/email/footer_template"}}
