<!--
-->
<!--@subject Updated quote {{var data.getQuoteName()}} @-->
<!--@vars {
"var data.getCustomerName()":"Customer name",
"var data.getQuoteName()":"Quote name",
"var data.getCustomerCompany()":"Company Name",
"var data.getExpirationPeriod()":"Expiration period",
"var merchantName":"Merchant Name",
"var frontend_quote_url":"Quote URL",
"var formatted_time":"Quote expires html time"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Dear %customer_name," customer_name=$data.getCustomerName()}}</p>

<p>{{trans "The seller responded to your quote "}}
    <a href="{{var frontend_quote_url}}">{{var data.getQuoteName()}}</a>.</p>
<p>{{trans "The Quote expires after "}}<b>{{var data.getExpirationPeriod()}}</b>.</p>

{{template config_path="design/email/footer_template"}}
