<!--
-->
<!--@subject {{trans "Order %order_id refunded" order_id=$companyCredit.orderId}} @-->
<!--@vars {
"var companyCredit.customerName":"Customer Name",
"var companyCredit.orderId":"Order Id",
"var companyCredit.operationAmount":"Company Credit Reimbursed Amount"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting company-greeting"><strong>{{trans "Dear %name," name=$companyCredit.customerName}}</strong></p>
<p>{{trans "A refund of %refunded_amount has been issued on order #%order_id. This amount has been applied to the company credit."
    order_id=$companyCredit.orderId
    refunded_amount=$companyCredit.operationAmount
    }}</p>
<p>{{trans "The history of your credit operations is available on the Company Credit page."}}</p>
<p>{{trans "If you have any questions, please contact the seller."}}</p>

{{template config_path="design/email/footer_template"}}
